.texts-filter-form .form-item-langcode,
.texts-filter-form .form-item-context {
  float: left; /* LTR */
  /**
   * In Opera 9, DOM elements with the property of "overflow: auto"
   * will partially hide its contents with unnecessary scrollbars when
   * its immediate child is floated without an explicit width set.
   */
  width: 15em;
  margin-right: 1em; /* LTR */
  margin-bottom: 0;
}

.texts-filter-form .form-type-select select {
  width: 100%;
}
.texts-filter-form .form-actions {
  float: left; /* LTR */
  padding: 3.8ex 0 0 0; /* LTR */
}

.texts-edit-form td {
  vertical-align: top;
}

.texts-edit-form tr.changed {
  background: #ffb;
}

.texts-edit-form tr .form-type-item .ajax-changed {
  position: absolute;
}

.texts-filter-form .form-wrapper {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.texts-edit-form table.changed {
  margin-top: 0;
}
